@media screen and ( max-width:600px) {
    header.container{
        display: flex;
        flex-direction: column;
    }
    header .menu{
        display: inline-block;
    }    

}

@media screen and (max-width:400px) {
    header .menu ul{
        visibility: hidden;
    }
    
}